body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(circle at top left, orange, transparent 100%),
                radial-gradient(circle at top right, green, transparent 100%),
                radial-gradient(circle at bottom left,green, transparent 100%),
                radial-gradient(circle at bottom right, blue, transparent 100%);
    background-blend-mode: screen;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffa500;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.cart h2 {
    margin-bottom: 20px;
}

.cart #cart-items {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cart #total-price {
    font-weight: bold;
}

.cart button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
