body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(circle at top left, orange, transparent 100%),
                radial-gradient(circle at top right, green, transparent 100%),
                radial-gradient(circle at bottom left,green, transparent 100%),
                radial-gradient(circle at bottom right, blue, transparent 100%);
    background-blend-mode: screen;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffa500;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 5em 1em;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
}

.subheading {
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #eee;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2em;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
}

video {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: 600;
}

.btn:hover {
    background-color: #FF8C00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}